spring :
  profiles:
    default: dev

  datasource:
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    url: ENC(9Xy8ctRB2R/CFKBwiRbp4PlIjT9I3J4x7l/DeBJ+YGXKxa4gTVPY6cds5Pw/EcQrDBC74+CSCXQW8H3RVVg6B/Eo7+IusgvtFrH/nZ8Jy6PReD8vbAia3FR/2FMBVpW07plvNXcFT5zpPIIY9zDUY35RmpkYx6Ei)
    username: ENC(gKuctbDMmaJPPKl4hSkOlA==)
    password: ENC(j9Oj87bQlu7Lat+yEj0yYQ==)

  mail:
    host: smtp.gmail.com
    port: 587
    username: hyoung6658@gmail.com
    password: ikoqvhyjkdjccfif
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true

token:
  jwt:
    secret: ENC(BbxwTGWGyT5J0EBgyW4Qn57XvvS1Q8aMVZtd8dkRDsZ5rRVlW0jBCedpesSwNcBMpNm/rm48lkjy1xbHYa40DQ==)

decorator:
  datasource:
    p6spy:
      enable-logging: off

jasypt:
  encryptor:
    password: threealcoholfreethreealcoholfreethreealcoholfreethreealcoholfreethreealcoholfreethreealcoholfree
#    passwrod: ${password}
